[Desktop Entry]
Name=G213 Colors
Exec=pkexec g213colors-gui
Comment=A gui to change the key colors on a Logitech G213 Prodigy Gaming Keyboard 
Icon=g213colors
Type=Application
Categories=Settings;Utility;
